@use "./variables" as v;

@media screen and (min-width: 1024px) {
  .main {
    &__desc {
      gap: 20px;
      &_textbox {
        &-wrapper {
          display: flex;
          justify-content: center;

          font-size: 1.1rem;
          text-align: justify;
        }

        &-large {
          font-size: 1.2rem;
        }

        &-bold {
          font-size: 1.1rem;
        }
      }

      &_docs {
        justify-content: space-between;
        width: 450px;

        &.results {
          & .main__desc_docs-button {
            width: 100%;
            text-align: center;
          }
        }
      }
    }

    &__programm {
      &_list {
        &-item {
          flex-direction: row;
          border-left: 8px solid v.$red;
          &Icon {
            width: calc(((1000px - 50px) / 7) * 1);
            padding: 10px 0 10px 25px;
          }

          &Cnt {
            width: calc(((1000px - 15px) / 7) * 6);
            padding: 40px 25px;
            & div {
              flex-direction: row;
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .main {
    &__desc {
      gap: 20px;
      &_textbox {
        &-wrapper {
          display: flex;
          justify-content: center;

          font-size: 1rem;
          text-align: left;
        }

        &-large {
          font-size: 1.2rem;
        }

        &-bold {
          font-size: 1rem;
        }
      }

      &_docs {
        justify-content: space-between;
        width: 400px;

        &.results {
          & .main__desc_docs-button {
            width: 100%;
            text-align: center;
          }
        }
      }
    }

    &__programm {
      &_list {
        &-item {
          flex-direction: row;
          border-left: 8px solid v.$red;
          &Icon {
            width: calc(((100vw - 20vw - 50px) / 7) * 1);
            padding: 10px 0 10px 25px;
          }

          &Cnt {
            width: calc(((100vw - 20vw - 50px) / 7) * 6);
            padding: 40px 25px;
            & div {
              flex-direction: row;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .main {
    &__desc {
      gap: 15px;
      &_textbox {
        &-wrapper {
          font-size: 1rem;
          text-align: left;

          display: flex;
          justify-content: center;
        }

        &-large {
          font-size: 1.2rem;
        }

        &-bold {
          font-size: 1rem;
        }
      }

      &_docs {
        width: calc(100% - 20px);
        justify-content: space-between;

        &.results {
          & .main__desc_docs-button {
            width: 100%;
            text-align: center;
          }
        }
      }
    }

    &__programm {
      &_list {
        &-item {
          flex-direction: column;
          border-bottom: 8px solid v.$red;
          &Icon {
            max-height: 170px;
            margin-top: 20px;
          }

          &Cnt {
            padding: 40px 25px;
            padding-top: 20px;
            & div {
              flex-direction: column;

              & a {
                width: fit-content;
              }
            }
          }
        }
      }
    }
  }
}

.main {
  &__desc {
    display: flex;
    flex-direction: column;
    align-items: center;

    &_video {
      border-radius: 10px;
      overflow: hidden;
      box-shadow: 0 0 8px v.$shadowgray;
    }

    &_textbox {
      display: flex;
      flex-direction: column;
      gap: 15px;

      color: v.$textBlack;

      &-wrapper {
        font-weight: 450;
        text-align: center;
      }

      &-large {
        font-size: 1.6rem;
        font-style: italic;
        font-weight: 600;
        color: v.$purpur;
        text-align: center;
      }

      &-bold {
        font-weight: 600;
        color: v.$textBlack;
      }
    }

    &_docs {
      display: flex;

      &-dropdown {
        position: relative;

        display: flex;

        margin: 5px;

        &::before {
          content: "";
          position: absolute;
          top: 50%;
          left: 50%;

          transform: translate(-50%, -50%);

          width: calc(100% + 10px);
          height: calc(100% + 10px);

          box-shadow: 0 0 4px v.$shadowblack;

          border-radius: 19px;

          background: linear-gradient(
            140deg,
            v.$metallicLight 10%,
            #fff,
            v.$metallicDark
          );

          z-index: 0;
        }

        &Btn {
          cursor: pointer;

          display: flex;
          align-items: center;
          justify-content: center;

          padding: 5px 10px;
          background-color: #fff;

          color: v.$pink;
          font-size: 1.1rem;
          font-weight: 700;

          border-radius: 15px;

          user-select: none;

          outline: none;

          & img {
            width: 1.5rem;

            transition: transform ease-in-out 0.2s;
          }

          z-index: 10;
        }

        &Mnu {
          position: absolute;
          top: 100%;
          width: calc(100% + 10px);
          height: fit-content;

          transform: translateX(-5px);

          display: flex;
          flex-direction: column;
          gap: 0px;

          opacity: 0;

          border-radius: 20px;
          //border: 1px solid v.$linkgray;
          box-shadow: 0 0 8px v.$shadowgray;
          backdrop-filter: blur(2px);

          transition:
            opacity ease-in-out 0.4s,
            transform ease-in-out 0.3s;

          z-index: 11;

          & a {
            position: relative;
            background-color: v.$pinkTrans;

            padding: 15px 10px;
            display: block;

            text-decoration: none;
            font-weight: 500;
            color: #fff;

            &:first-of-type {
              border-top-left-radius: 20px;
              border-top-right-radius: 20px;

              &::before {
                display: none;
              }
            }

            &:last-of-type {
              border-bottom-left-radius: 20px;
              border-bottom-right-radius: 20px;

              &::after {
                display: none;
              }
            }

            &::before {
              content: "";
              position: absolute;
              top: -1px;
              left: 0;

              width: 100%;
              height: 2px;

              background-color: #fff;
            }

            &::after {
              content: "";
              position: absolute;
              bottom: -1px;
              left: 0;

              width: 100%;
              height: 2px;

              background-color: #fff;
            }

            transition: scale linear 0.1s;

            &:hover {
              scale: 1.025;

              z-index: 11;
            }
          }
        }
      }

      &-button {
        position: relative;

        transition: scale linear 0.1s;

        margin: 5px;

        &Lnk {
          position: relative;

          display: block;

          padding: 5px 10px;

          background-color: #fff;

          border-radius: 15px;

          font-size: 1.1rem;
          font-weight: 700;
          color: v.$pink;
          text-decoration: none;

          z-index: 10;
        }

        &:hover {
          scale: 1.025;
        }

        &::before {
          content: "";
          position: absolute;
          top: 50%;
          left: 50%;

          transform: translate(-50%, -50%);

          width: calc(100% + 10px);
          height: calc(100% + 10px);

          box-shadow: 0 0 4px v.$shadowblack;

          border-radius: 19px;

          background: linear-gradient(
            140deg,
            v.$metallicLight 10%,
            #fff,
            v.$metallicDark
          );

          z-index: 0;
        }
      }
    }

    &_runningLine {
      display: flex;
      align-items: center;

      max-width: calc(100vw - (100vw - 100%));
      overflow: hidden;

      height: 3rem;
      background-color: v.$red;
      border-top: 6px solid v.$beige;
      border-bottom: 6px solid v.$beige;

      &-cnt {
        display: flex;
        flex-direction: row;
        width: fit-content;

        color: #fff;

        white-space: nowrap;

        animation: 18s linear 0s infinite run;

        &Item {
          margin-left: 1rem;
          font-size: 1.2rem;
          white-space: nowrap;

          &::after {
            content: "|";
            margin-left: 1rem;
          }
        }

        @keyframes run {
          0% {
            transform: translate(0, 0);
          }

          100% {
            transform: translate(-50%, 0);
          }
        }
      }
    }
  }

  &__programm {
    display: flex;
    flex-direction: column;
    align-items: center;

    &_list {
      display: flex;
      flex-direction: column;
      gap: 40px;

      list-style-type: none;

      &-nominations {
        position: relative;

        display: flex;
        flex-direction: column;
        gap: 20px;

        background: linear-gradient(90deg, v.$purpur, v.$pink);

        padding: 40px 40px;

        border-radius: 20px;

        margin-left: 20px;

        &::before {
          content: "";

          position: absolute;
          top: 0;
          left: -15px;

          width: 30px;
          height: 100%;

          box-shadow: 0 0 8px v.$shadowblack;

          border-bottom-left-radius: 25px;
          border-top-left-radius: 25px;

          background: linear-gradient(
            1deg,
            v.$metallicLight 20%,
            #fff,
            v.$metallicDark
          );

          z-index: -1;
        }

        & div {
          & h4 {
            font-weight: 500;
            font-size: 1.2rem;
            color: #fff;
          }

          & p {
            color: v.$yellow;
          }
        }
      }

      &-item {
        position: relative;

        width: 100%;

        display: flex;
        justify-content: space-between;
        align-items: center;

        background-color: #fafafa;

        border-radius: 20px;

        box-shadow: 0 0 8px v.$shadowgray;

        &Icon {
          height: fit-content;
        }

        &Cnt {
          display: flex;
          flex-direction: column;
          gap: 20px;

          & h3 {
            color: v.$purpur;
            font-weight: 600;

            &::before {
              content: "• ";
            }
          }
          & p {
            color: v.$textBlack;
            font-weight: 450;
            font-style: italic;

            border-radius: 20px;
          }
          & div {
            display: flex;
            flex-wrap: wrap;
            gap: 20px;

            & .pLink {
              position: relative;

              transition: scale linear 0.1s;

              & a {
                position: relative;

                display: block;

                padding: 5px 10px;

                background-color: #fff;

                border-radius: 15px;

                font-size: 1.1rem;
                font-weight: 700;
                color: v.$pink;
                text-decoration: none;

                z-index: 10;
              }

              &:hover {
                scale: 1.025;
              }

              &::before {
                content: "";
                position: absolute;
                top: 50%;
                left: 50%;

                transform: translate(-50%, -50%);

                width: calc(100% + 10px);
                height: calc(100% + 10px);

                box-shadow: 0 0 4px v.$shadowblack;

                border-radius: 19px;

                background: linear-gradient(
                  310deg,
                  v.$metallicDark,
                  v.$metallicLight
                );

                z-index: 0;
              }
            }
          }
        }

        &Bg {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;

          background-size: cover;
          background-position: center center;

          z-index: -1;
        }
      }
    }
  }
}
