$red: #bf1e2e;
$redlighter: #ff0019;
$beigeDarker: #b99d6e;
$beige: #f2d6a6;
$beigeLighter: #ffe2b0;
$brown: #a48e67;

$yellow: #f3c13e;

$metallicDark: #939192;
$metallicLight: #d8d7d9;

$purpur: #621c90;
$pink: #cc1995;

$purpurTrans: #621c90d0;
$pinkTrans: #cc1995d0;

$purpur2: #630795;
$pink2: #e61a7d;

$shadowgray: #0000003c;
$shadowblack: #00000044;
$transblackDark: #000000bd;
$transblack: #000000a0;
$transblackAlt: #00000070;
$transdim: #00000011;
$transgray: #98989837;
$transwhite: #f3f3f3ea;
$transgrayverylight: #eaeaeaea;
$transgraylight: #afafafea;

$white: #f3f3f3;
$grayverylight: #eaeaea;
$graylight: #afafaf;

$textBlack: #000000e0;
