@charset "UTF-8";
@media screen and (min-width: 1024px) {
  * {
    font-size: 20px;
  }
  .titleScale {
    max-width: 1000px;
    margin: 0 auto;
  }
  .textScale {
    max-width: 1000px;
  }
  .wrapperScale {
    max-width: 1000px;
  }
  .dropdownScale {
    justify-content: center;
    gap: 100px;
  }
  .cardScale {
    position: relative;
    width: 320px;
  }
  .cardScale img {
    height: 500px;
  }
  .cardScale div {
    position: absolute;
    top: calc(100% - 100px);
    left: 0;
    height: 100px;
    min-height: 100px;
    transition: width ease-in-out 0.1s, max-height ease-in-out 0.1s, left ease-in-out 0.1s, border-radius ease-in-out 0.1s, background-color ease-in-out 0.1s;
    z-index: 10;
  }
  .cardScale div:hover {
    left: -20px;
    width: calc(100% + 40px);
    height: auto;
    border-radius: 10px;
    padding-bottom: 20px;
    background-color: rgba(0, 0, 0, 0.9333333333);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2666666667);
    z-index: 11;
  }
  .cardScale div:hover::before {
    content: "...";
    position: absolute;
    bottom: 5px;
    right: 10px;
  }
  .cardScale div:hover span:last-of-type {
    padding-right: 10px;
  }
  .cardScale div::before {
    content: "...";
    position: absolute;
    bottom: 5px;
    right: 10px;
  }
  .cardScale span:last-of-type {
    line-height: 29px;
    padding-right: 20px;
    font-size: calc(1rem - 2px);
  }
  .organizersScale {
    gap: 80px;
    justify-content: center;
  }
  .organizersScale .main__organizers_container-card img {
    height: -moz-fit-content;
    height: fit-content;
    max-width: 250px;
  }
  .partnersScale {
    gap: 80px;
    justify-content: center;
  }
  .partnersScale .main__partners_container-card img {
    height: -moz-fit-content;
    height: fit-content;
    max-width: 250px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  * {
    font-size: 18px;
  }
  .titleScale {
    padding: 0 20%;
  }
  .textScale {
    margin: 0 20%;
  }
  .textScale br {
    display: none;
  }
  .wrapperScale {
    margin: 0 20%;
  }
  .dropdownScale {
    justify-content: center;
    gap: 80px;
  }
  .cardScale {
    width: 250px;
  }
  .cardScale img {
    height: 380px;
  }
  .cardScale div {
    position: absolute;
    top: calc(100% - 90px);
    left: 0;
    height: 90px;
    min-height: 90px;
    transition: width ease-in-out 0.1s, left ease-in-out 0.1s, border-radius ease-in-out 0.1s, background-color ease-in-out 0.1s;
    z-index: 10;
    overflow: hidden;
  }
  .cardScale div:hover {
    left: -20px;
    width: calc(100% + 40px);
    height: auto;
    border-radius: 10px;
    padding-bottom: 20px;
    background-color: rgba(0, 0, 0, 0.9333333333);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2666666667);
    z-index: 11;
  }
  .cardScale div:hover::before {
    content: "...";
    position: absolute;
    bottom: 5px;
    right: 10px;
  }
  .cardScale div:hover span:last-of-type {
    padding-right: 10px;
  }
  .cardScale div::before {
    content: "...";
    position: absolute;
    bottom: 5px;
    right: 10px;
  }
  .cardScale span:last-of-type {
    line-height: 25px;
    padding-right: 26px;
    font-size: calc(1rem - 2px);
  }
  .organizersScale {
    gap: 40px;
    justify-content: center;
  }
  .organizersScale .main__organizers_container-card img {
    height: -moz-fit-content;
    height: fit-content;
    max-width: 200px;
  }
  .partnersScale {
    gap: 40px;
    justify-content: center;
  }
  .partnersScale .main__partners_container-card img {
    height: -moz-fit-content;
    height: fit-content;
    max-width: 200px;
  }
}
@media screen and (max-width: 767px) {
  * {
    font-size: 16px;
  }
  .titleScale {
    padding: 0 30px;
  }
  .textScale {
    margin: 0 10px;
  }
  .wrapperScale {
    margin: 0 10px;
  }
  .dropdownScale {
    justify-content: center;
    gap: 15px;
  }
  .cardScale {
    width: 300px;
  }
  .cardScale img {
    height: 370px;
  }
  .cardScale div {
    position: absolute;
    top: calc(100% - 80px);
    left: 0;
    height: 80px;
    min-height: 80px;
    transition: width ease-in-out 0.1s, max-height ease-in-out 0.1s, left ease-in-out 0.1s, border-radius ease-in-out 0.1s, background-color ease-in-out 0.1s;
    z-index: 10;
  }
  .cardScale div:hover {
    left: -20px;
    width: calc(100% + 40px);
    height: auto;
    border-radius: 10px;
    padding-bottom: 20px;
    background-color: rgba(0, 0, 0, 0.9333333333);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2666666667);
    z-index: 11;
  }
  .cardScale div:hover::before {
    content: "...";
    position: absolute;
    bottom: 5px;
    right: 10px;
  }
  .cardScale div:hover span:last-of-type {
    padding-right: 10px;
  }
  .cardScale div::before {
    content: "...";
    position: absolute;
    bottom: 5px;
    right: 10px;
  }
  .cardScale span:last-of-type {
    line-height: 22.5px;
    padding-right: 20px;
    font-size: calc(1rem - 2px);
  }
  .organizersScale {
    gap: 60px;
    justify-content: center;
    padding: 0 30px;
  }
  .organizersScale .main__organizers_container-card img {
    max-height: 120px;
  }
  .partnersScale {
    gap: 60px;
    justify-content: center;
    padding: 0 30px;
  }
  .partnersScale .main__partners_container-card img {
    max-height: 120px;
  }
}
/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  margin: 0;
  line-height: calc(1em + 0.5rem);
}

body {
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

* {
  font-family: "Chiron Hei HK", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}

main {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

h1 {
  font-size: 2rem;
  font-family: "Libertinus Sans", sans-serif;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.2rem;
}

@media screen and (min-width: 1024px) {
  .header__container {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 1000px;
    height: -moz-fit-content;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    padding: 10px 100px;
    z-index: 20;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2666666667);
    overflow: hidden;
    background: linear-gradient(177deg, rgba(0, 0, 0, 0.6274509804) 40%, rgba(0, 0, 0, 0.4392156863) 90%);
    -webkit-backdrop-filter: blur(3px);
            backdrop-filter: blur(3px);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  .header__container_up {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 5px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1215686275);
    transition: background-color ease-in-out 0.1s;
  }
  .header__container_up img {
    width: 30px;
    height: 30px;
  }
}
@media screen and (min-width: 1024px) and (pointer: fine) {
  .header__container_up:hover {
    background-color: rgba(152, 152, 152, 0.2156862745);
  }
}
@media screen and (min-width: 1024px) {
  .header__container_elem {
    color: #fff;
  }
  .header__container_elem-link {
    position: relative;
    color: #fff;
    text-decoration: none;
  }
}
@media screen and (min-width: 1024px) and (pointer: fine) {
  .header__container_elem-link:hover {
    color: #ffe2b0;
  }
  .header__container_elem-link:hover::after {
    width: 100%;
    left: 0;
  }
}
@media screen and (min-width: 1024px) {
  .header__container_elem-link::after {
    content: "";
    position: absolute;
    bottom: -3px;
    left: 50%;
    width: 0;
    height: 1px;
    background-color: #ffe2b0;
    transition: width ease-in-out 0.15s, left ease-in-out 0.15s;
  }
  .header__container_burger-button {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .header__container {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 1000px;
    height: -moz-fit-content;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    padding: 10px 100px;
    z-index: 20;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2666666667);
    overflow: hidden;
    background: linear-gradient(177deg, rgba(0, 0, 0, 0.6274509804) 40%, rgba(0, 0, 0, 0.4392156863) 90%);
    -webkit-backdrop-filter: blur(3px);
            backdrop-filter: blur(3px);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  .header__container_up {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 5px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1215686275);
    transition: background-color ease-in-out 0.1s;
  }
  .header__container_up img {
    width: 30px;
    height: 30px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) and (pointer: fine) {
  .header__container_up:hover {
    background-color: rgba(152, 152, 152, 0.2156862745);
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .header__container_elem {
    color: #fff;
  }
  .header__container_elem-link {
    position: relative;
    color: #fff;
    text-decoration: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) and (pointer: fine) {
  .header__container_elem-link:hover {
    color: #ffe2b0;
  }
  .header__container_elem-link:hover::after {
    width: 100%;
    left: 0;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .header__container_elem-link::after {
    content: "";
    position: absolute;
    bottom: -3px;
    left: 50%;
    width: 0;
    height: 1px;
    background-color: #ffe2b0;
    transition: width ease-in-out 0.15s, left ease-in-out 0.15s;
  }
  .header__container_burger-button {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 30;
  }
  .header__burger {
    padding: 15px;
    background: linear-gradient(120deg, rgba(0, 0, 0, 0.6274509804), rgba(0, 0, 0, 0.4392156863));
    -webkit-backdrop-filter: blur(2px);
            backdrop-filter: blur(2px);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2666666667);
    border-bottom-right-radius: 10px;
  }
  .header__burger_button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: -moz-fit-content;
    width: fit-content;
    height: 29px;
  }
  .header__burger_button-elem {
    position: relative;
    width: 50px;
    height: 3px;
    background-color: #fff;
  }
  .header__burger_button-elem::before {
    content: "";
    position: absolute;
    top: -13px;
    left: 0;
    width: 50px;
    height: 3px;
    background-color: #fff;
  }
  .header__burger_button-elem::after {
    content: "";
    position: absolute;
    top: 13px;
    left: 0;
    width: 50px;
    height: 3px;
    background-color: #fff;
  }
  .header__container {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(-100%);
  }
  .header__container_up {
    display: none;
  }
}
@media screen and (min-width: 1024px) {
  .hero {
    padding-top: 80px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .hero {
    padding-top: 80px;
  }
}
@media screen and (max-width: 767px) {
  .hero {
    padding-top: 30px;
  }
}
.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: -moz-fit-content;
  height: fit-content;
  position: relative;
  background: #bf1e2e;
  color: #fff;
  padding-bottom: 60px;
  margin-bottom: 100px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2666666667);
  z-index: 10;
}
.hero__img {
  width: 150px;
  margin-bottom: 20px;
}
.hero__title {
  margin: 0 20px;
}
.hero__date {
  margin: 20px 0;
}
.hero__textbox {
  display: flex;
  font-size: 1.1rem;
}
.hero::after {
  content: "";
  position: absolute;
  bottom: -40px;
  left: 0;
  width: 100%;
  height: 40px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2666666667);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  background: linear-gradient(177deg, rgba(0, 0, 0, 0.6274509804) 40%, rgba(0, 0, 0, 0.4392156863) 90%);
}

@media screen and (min-width: 1024px) {
  .main__desc_textbox-wrapper {
    text-align: justify;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .main__desc_textbox-wrapper {
    text-align: left;
  }
}
@media screen and (max-width: 767px) {
  .main__desc_textbox-wrapper {
    text-align: left;
  }
}
.main__desc {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.main__desc_video {
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2352941176);
}
.main__desc_img {
  height: 300px;
}
.main__desc_textbox {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.main__desc_textbox-wrapper {
  font-size: 1.1rem;
}
.main__desc_textbox-large {
  font-size: 1.2rem;
  font-weight: 600;
  color: #bf1e2e;
}
.main__desc_textbox-bold {
  font-size: 1.1rem;
  font-weight: 600;
}
.main__desc_bottom {
  display: flex;
  width: 100%;
  background-color: #bf1e2e;
}
.main__desc_dropdown {
  position: relative;
  display: flex;
}
.main__desc_dropdown-button {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3px;
  padding: 5px 10px;
  color: #fff;
  font-size: 22px;
  font-weight: 600;
  border: 5px solid transparent;
  border-radius: 15px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  outline: none;
}
.main__desc_dropdown-button img {
  width: 1rem;
  transition: transform ease-in-out 0.2s;
}
.main__desc_dropdown-menu {
  position: absolute;
  top: 100%;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  z-index: 1;
  opacity: 0;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2352941176);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  transition: opacity ease-in-out 0.4s, transform ease-in-out 0.3s;
}
.main__desc_dropdown-menu a {
  background-color: rgba(255, 255, 255, 0.9176470588);
  padding: 15px 10px;
  display: block;
  text-decoration: none;
  color: #000;
  border-bottom: 1px solid #000;
}
.main__desc_dropdown-menu a:last-of-type {
  border-bottom: none;
}
.main__programm {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main__programm_list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2352941176);
}
.main__programm_list-item {
  position: relative;
  border-top: 2px solid #000;
}
.main__programm_list-itemCnt {
  display: flex;
  flex-direction: column;
  gap: 5px;
  background-color: rgba(0, 0, 0, 0.6274509804);
  padding: 30px 25px;
}
.main__programm_list-itemCnt h3 {
  color: #ff0019;
  font-weight: 500;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.6274509804);
}
.main__programm_list-itemCnt h3::before {
  content: "• ";
}
.main__programm_list-itemCnt p {
  color: #fff;
  font-style: italic;
}
.main__programm_list-itemCnt div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.main__programm_list-itemCnt div a {
  color: #ffe2b0;
  margin-right: 0.5rem;
  text-wrap: nowrap;
}
.main__programm_list-itemBg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  z-index: -1;
}
.main__programm_list-item:first-of-type {
  border-top: none;
}

.main__judges {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 0 20px;
}
.main__judges_juryBoard {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  max-width: 1000px;
}
.main__judges_juryBoard-card {
  position: relative;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2352941176);
  border-radius: 10px;
}
.main__judges_juryBoard-card h4 {
  padding: 5px 10px;
  text-wrap: nowrap;
  text-align: center;
  font-weight: 600;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #bf1e2e;
  color: #fff;
}
.main__judges_juryBoard-card img {
  min-height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.main__judges_juryBoard-card div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3px;
  width: 100%;
  padding-top: 2px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
  background: linear-gradient(50deg, rgba(0, 0, 0, 0.6274509804) 40%, rgba(152, 152, 152, 0.2156862745) 90%);
  background-color: rgba(0, 0, 0, 0.6274509804);
  color: #fff;
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
}
.main__judges_juryBoard-card div span:first-of-type {
  font-size: 1.1rem;
}
.main__judges_juryBoard-card div span:last-of-type {
  height: 100%;
  padding-left: 10px;
  scrollbar-color: #fff transparent;
}
.main__judges_judgeBoard {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  max-width: 1000px;
}
.main__judges_judgeBoard-card {
  position: relative;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2352941176);
  border-radius: 10px;
}
.main__judges_judgeBoard-card h4 {
  padding: 5px 10px;
  text-wrap: nowrap;
  text-align: center;
  font-weight: 600;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #bf1e2e;
  color: #fff;
}
.main__judges_judgeBoard-card img {
  min-height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.main__judges_judgeBoard-card div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3px;
  width: 100%;
  padding-top: 2px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
  background: linear-gradient(50deg, rgba(0, 0, 0, 0.6274509804) 40%, rgba(152, 152, 152, 0.2156862745) 90%);
  background-color: rgba(0, 0, 0, 0.6274509804);
  color: #fff;
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
}
.main__judges_judgeBoard-card div span:first-of-type {
  font-size: 1.1rem;
}
.main__judges_judgeBoard-card div span:last-of-type {
  height: 100%;
  padding-left: 10px;
  scrollbar-color: #fff transparent;
}

.main__organizers {
  width: 100%;
  padding: 60px 0;
  background: linear-gradient(170deg, rgba(0, 0, 0, 0.6274509804) 40%, rgba(0, 0, 0, 0.4392156863) 90%);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2352941176);
}
.main__organizers_container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 auto;
}
.main__organizers_container-card {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(170deg, rgba(255, 255, 255, 0.9176470588) 40%, rgba(255, 255, 255, 0.9176470588) 90%);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2666666667);
  transition: scale ease-in-out 0.2s;
  overflow: hidden;
}
.main__organizers_container-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: -30px;
  width: 80px;
  height: 20px;
  background-color: #f2d6a6;
  transform: rotate(-45deg);
}
.main__organizers_container-card::after {
  content: "";
  position: absolute;
  top: 15px;
  left: -20px;
  width: 80px;
  height: 15px;
  background-color: #bf1e2e;
  transform: rotate(-45deg);
  z-index: 10;
}
.main__organizers_container-card:hover {
  scale: 1.05;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.2666666667);
}
.main__organizers_container-card img {
  width: 100%;
  height: 100%;
}
.main__partners {
  width: 100%;
  padding: 20px 0;
  background-color: #f1f0f0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2352941176);
}
.main__partners_container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 auto;
}
.main__partners_container-card {
  display: flex;
  align-items: center;
  justify-content: center;
}
.main__partners_container-card img {
  width: 100%;
  height: 100%;
  transition: scale ease-in-out 0.2s;
}
.main__partners_container-card img:hover {
  scale: 1.05;
}

@media screen and (min-width: 1024px) {
  .footer__container {
    flex-direction: row;
    gap: 60px;
    justify-content: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .footer__container {
    flex-direction: column;
    gap: 15px;
  }
}
@media screen and (max-width: 767px) {
  .footer__container {
    flex-direction: column;
    gap: 15px;
  }
  .footer__contacts_elem a {
    font-size: 18px;
  }
}
.footer {
  display: flex;
  flex-direction: column;
  gap: 30px;
  position: relative;
  padding: 0px 20px;
  padding-top: 30px;
  padding-bottom: 40px;
  margin-top: 120px;
  color: #fff;
  background-color: #bf1e2e;
}
.footer__container {
  display: flex;
}
.footer__mapouter {
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2352941176);
}
.footer__gmap_canvas {
  height: 300px;
  width: 100%;
}
.footer__wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer__title {
  padding-top: 20px;
}
.footer__title:first-of-type {
  padding-top: 0;
}
.footer__location_elem {
  font-size: 1.1rem;
}
.footer__contacts {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.footer__contacts_elem {
  display: flex;
  align-items: center;
  gap: 5px;
}
.footer__contacts_elem img {
  width: -moz-fit-content;
  width: fit-content;
  height: 25px;
}
.footer__contacts_elem a {
  color: #fff;
  text-decoration: none;
}
.footer__contacts_elem a:hover {
  color: #f2d6a6;
}
.footer__timer_elem {
  font-size: 30px;
}
.footer__timer_elem-span {
  color: #f2d6a6;
  font-size: 25px;
}

.showDropdown {
  transform: translateY(2.5%);
  opacity: 1;
}

.chevronRotate {
  transform: rotate(180deg);
}

.wave {
  position: absolute;
  bottom: -40px;
  left: 0;
  width: 100%;
  height: 40px;
  background: url('data:image/svg+xml;utf8,    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 120 40" preserveAspectRatio="none">      <path d="M0 20 Q15 0 30 20 T60 20 T90 20 T120 20 V0 H0 Z" fill="%23bf1e2e" />    </svg>') repeat-x;
  background-size: cover;
  z-index: 1;
}

.wave2 {
  position: absolute;
  bottom: -60px;
  left: 0;
  width: 100%;
  height: 50px;
  background: url('data:image/svg+xml;utf8,    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 120 40" preserveAspectRatio="none">      <path d="M0 20 Q15 0 30 20 T60 20 T90 20 T120 20 V0 H0 Z" fill="%23f2d6a6" />    </svg>') repeat-x;
  background-size: cover;
}

.wave3 {
  position: absolute;
  top: -40px;
  left: 0;
  width: 100%;
  height: 40px;
  background: url('data:image/svg+xml;utf8,    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 120 40" preserveAspectRatio="none">      <path d="M0 20 Q15 0 30 20 T60 20 T90 20 T120 20 V40 H0 Z" fill="%23bf1e2e" />    </svg>') repeat-x;
  background-size: cover;
  z-index: 1;
}

.wave4 {
  position: absolute;
  top: -60px;
  left: 0;
  width: 100%;
  height: 50px;
  background: url('data:image/svg+xml;utf8,    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 120 40" preserveAspectRatio="none">      <path d="M0 20 Q15 0 30 20 T60 20 T90 20 T120 20 V40 H0 Z" fill="%23f2d6a6" />    </svg>') repeat-x;
  background-size: cover;
}/*# sourceMappingURL=style.css.map */