.footer {
	@media screen and (max-aspect-ratio: 4/3) {
		padding: 2rem 0;
	}

	&__container {
		@media screen and (max-aspect-ratio: 4/3) {
			flex-direction: column;
			align-items: center;
			gap: 3rem;
		}

		@media screen and (min-aspect-ratio: 20/9) {
			max-width: 70vw;
		}

		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		gap: 6rem;
	}

	position: relative;

	width: 100%;

	background-color: $boxBG;

	padding: 2rem 2rem;

	border-radius: 5% / 2%;

	display: flex;
	justify-content: center;

	&::before {
		content: "";
		position: absolute;
		left: 0;
		top: -1rem;

		width: 100%;
		height: 100%;

		border-radius: 5% / 2%;

		background: linear-gradient(
			90deg,
			$blue,
			$blue 15%,
			$red,
			$red,
			$yellow,
			$yellow,
			$blue
		);
		background-size: 300% 100%;

		background-repeat: repeat;

		animation: XmoveRYB300 33s infinite linear;
		z-index: -1;

		box-shadow: 0px 0px 10px #00000020;
	}

	&__left-block {
		@media screen and (max-aspect-ratio: 4/3) {
			width: 100%;
			min-width: none;
			max-width: none;
		}

		display: flex;
		flex-direction: column;
		gap: 1rem;
		min-width: 35rem;
		max-width: 35rem;

		&-title {
			@media screen and (max-aspect-ratio: 4/3) {
				text-align: center;
				font-size: calc(2vh + 2vw);
			}
		}

		&-location {
			@media screen and (max-aspect-ratio: 4/3) {
				text-align: center;
				padding: 0 1rem;

				& h3 {
					font-size: calc(2vh + 2vw);
				}
			}
			font-size: 1.6rem;
			font-weight: 350;

			& span {
				background: linear-gradient(
					90deg,
					$blue,
					$blue 15%,
					$red,
					$red,
					$yellow,
					$yellow,
					$blue
				);
				background-clip: text;

				background-size: 300% 100%;

				background-repeat: repeat;

				animation: XmoveRYB300 33s infinite linear;

				color: transparent;

				font-size: 1.8rem;
				font-weight: 450;
			}
		}
	}

	&__map-container {
		@media screen and (max-aspect-ratio: 4/3) {
			border-radius: 0;
			width: 100%;
			height: 35rem;
		}
		height: 100%;
		box-shadow: 2.5px 5px 5px #00000015, 0px 0px 5px #00000015;
		border-radius: 1rem;
		overflow: hidden;
	}

	&__countdown {
		@media screen and (max-aspect-ratio: 4/3) {
			display: none;
		}
		width: 100% !important;

		margin-top: 1.5rem;

		display: flex;
		flex-direction: column;
		align-items: center;

		gap: 1.5rem;

		& .countdown__box {
			@media screen and (max-aspect-ratio: 4/3) {
				font-size: calc(2vh + 2vw);
				width: calc(18vw);
				line-height: calc(2vh + 2vw);
			}
			font-size: 1.5rem;

			color: #fff;

			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			padding: 0.5rem;
			border-radius: 1rem;

			background-color: $textBlackLessTrans;

			width: calc(100% / 4);

			line-height: 1.5rem;
		}

		& .countdown__time {
			@media screen and (max-aspect-ratio: 4/3) {
				font-size: calc(2vh + 2vw);
			}
			width: 100%;
			font-size: 1.5rem;
			color: #fff;
			display: flex;
			flex-direction: row;
			gap: 0.3rem;
		}

		& .countdown__time-name {
			@media screen and (max-aspect-ratio: 4/3) {
				font-size: calc(2vh + 2vw);
			}
			font-size: 1.5rem;
			color: #fff;
		}

		& .countdown__text {
			@media screen and (max-aspect-ratio: 4/3) {
				font-size: calc(2vh + 2vw);
			}
			font-size: 2rem;
			font-weight: 600;
			color: inherit;
			width: 100%;
			text-align: left;
		}
	}

	&__center-block {
		@media screen and (max-aspect-ratio: 4/3) {
			align-items: center;
			width: 100%;
			gap: calc(1.7vh + 1.6vw);
		}

		display: flex;
		flex-direction: column;
		align-items: start;
		gap: 1.5rem;
		min-width: fit-content;

		&-title {
			@media screen and (max-aspect-ratio: 4/3) {
				font-size: calc(2vh + 2vw);
			}
		}

		&-item-container {
			@media screen and (max-aspect-ratio: 4/3) {
				gap: calc(1.7vh + 1.6vw);
			}
			display: flex;
			flex-direction: column;
			gap: 1.5rem;
			width: fit-content;
			align-items: start;
		}

		&-item {
			display: flex;
			align-items: center;
			gap: 0.5rem;
			font-size: 1.6rem;
			&-icon {
				@media screen and (max-aspect-ratio: 4/3) {
					width: calc(1.7vh + 1.6vw);
				}
				width: 1.8rem;
			}

			&-text {
				color: -webkit-link;
				cursor: pointer;
				@media screen and (max-aspect-ratio: 4/3) {
					font-size: calc(1.7vh + 1.6vw);
				}
			}
		}
	}

	&__right-block {
		height: fit-content;

		flex-grow: 1;

		display: flex;
		flex-direction: column;

		gap: 1rem;

		&-title {
			@media screen and (max-aspect-ratio: 4/3) {
				font-size: calc(2vh + 2vw);
				text-align: center;
			}
		}

		&-info {
			@media screen and (max-aspect-ratio: 4/3) {
				//font-size: calc(2vh + 2vw);
				padding: 0 1rem;
				text-align: center;
			}
			font-weight: 350;
			font-size: 1.6rem;
			text-align: left;
			//color: $textBlackish;
			& span {
				background: linear-gradient(
					90deg,
					$blue,
					$blue 15%,
					$red,
					$red,
					$yellow,
					$yellow,
					$blue
				);
				background-clip: text;

				background-size: 300% 100%;

				background-repeat: repeat;

				animation: XmoveRYB300 33s infinite linear;

				color: transparent;

				font-size: 1.8rem;
				font-weight: 450;
			}
		}

		// &-wrapper {
		// 	position: relative;

		// 	&-shadow-top {
		// 		position: absolute;
		// 		top: 0;
		// 		left: 0;

		// 		width: 100%;
		// 		height: 1rem;

		// 		background: linear-gradient(0deg, transparent, #00000050);
		// 		z-index: 10;
		// 	}

		// 	&-shadow-bot {
		// 		position: absolute;
		// 		bottom: 0;
		// 		left: 0;

		// 		width: 100%;
		// 		height: 1rem;

		// 		background: linear-gradient(transparent, #00000050);
		// 		z-index: 10;
		// 	}
		// }

		&-container {
			@media screen and (max-aspect-ratio: 4/3) {
				padding: 0 1rem;
			}

			position: relative;

			display: flex;
			flex-direction: column;
			gap: 1rem;

			//max-height: 31rem;
		}

		&-item {
			display: flex;
			align-items: center;
			justify-content: left;
			gap: 1rem;
			padding: 1rem;
			border-radius: 1rem;
			box-shadow: 2.5px 5px 5px #00000015, 0px 0px 5px #00000015;

			transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
			font-size: 2rem;
			font-weight: 350;

			&:hover {
				transform: scale(1.01);
				box-shadow: 4px 8px 8px #00000015, 0px 0px 8px #00000015;
			}

			&.robinson {
				background-color: #442d25;
				color: #fff;
				font-size: 1.9rem;
			}

			&.victoria {
				background-color: #456175;
				color: #fff;
			}

			&.belarus {
				background-color: #10396f;
				color: #fff;
			}

			&.zalkind {
				background-color: #000;
				color: #fff;

				& .footer__right-block-item-img-block {
					white-space: nowrap;
					user-select: none;
					font-family: "DIN Condensed";
					font-size: 2.5rem !important;
					display: flex;
					align-items: center;
					color: #fff;
				}
			}

			&.europe {
				background-color: #4e1720;
				color: #fff;
			}

			&.garni {
				background-color: #480505;
				color: #fff;
				& img {
					filter: brightness(0) invert(1);
				}
			}

			&.sputnik {
				background-color: #11396f;
				color: #fff;
			}

			&.voyage {
				background-color: #fff;
			}

			&.minsk {
				background-color: #d62434;
				color: #fff;
				& img {
					filter: brightness(0) invert(1);
				}
			}

			&.crowne {
				background-color: #9e1d70;
				color: #fff;
			}

			&.discounts {
				padding: 1.2rem;
				color: #fff;
				font-weight: 450;
				text-decoration: underline;
				text-shadow: 0px 0px 5px #00000015;
				background: linear-gradient(
					-45deg,
					$blue 0% 33%,
					$red 33% 67%,
					$yellow 67%
				);
			}

			&-img-block {
				height: 5rem;
				width: fit-content;
				min-width: fit-content;
				max-width: fit-content;

				& img {
					width: fit-content;
					min-width: fit-content;
					max-width: fit-content;
					height: 100%;
				}
			}

			&-text-block {
				width: 100%;
				text-align: center;
				color: inherit;
				font-size: inherit;
				font-weight: inherit;
			}
		}
	}
}
