.ko {
	width: 100%;
	display: flex;
	gap: 1.5rem;
	justify-content: space-between;
	text-align: center;

	&__dot {
		color: transparent;

		background-clip: text;

		font-size: 1.6rem;

		background-color: $textBlackLessTrans;
	}

	&__banner {
		width: 20%;
		display: flex;
		flex-direction: column;
		justify-content: start;
		align-items: center;
		gap: 1.5rem;

		&--bottom {
			display: none;
			width: 100%;
		}

		&-date {
			font-size: 2rem;
			font-weight: 500;

			color: $indigo;
		}

		&-logo {
			height: fit-content;

			width: 100%;

			@media screen and (max-aspect-ratio: 4/3) {
				width: 70%;
			}
			@media screen and (max-width: 750px) {
				width: 90%;
			}
		}

		&-results {
			position: relative;
			font-size: 1.2rem;
			text-align: center;
			font-weight: 450;

			display: flex;

			justify-content: center;
			align-items: center;
			flex-direction: column;
			gap: 2rem;

			height: 100%;

			padding: 1.5rem 2rem;
			margin: 0.5rem;

			background-color: $indigo;
			border-radius: 1rem;

			&::before {
				content: "";
				position: absolute;
				width: calc(100% + 1rem);
				height: calc(100% + 1rem);
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);

				border-radius: 1.5rem;
				background: linear-gradient(
					90deg,
					$goldBright,
					$goldBright,
					$goldDim,
					$goldDim,
					$goldBright,
					$goldBright
				);

				background-size: 200% 100%;
				animation: XmoveRYB200 7s linear infinite;

				box-shadow:
					2.5px 5px 5px #00000015,
					0px 0px 5px #00000015;

				z-index: -1;
			}
		}

		&-link {
			font-size: 1.4rem;
			text-decoration: underline;

			text-align: center;
			font-weight: 500;
			color: transparent;
			background: linear-gradient(
				90deg,
				$goldBright,
				$goldBright,
				$goldDim,
				$goldDim,
				$goldBright,
				$goldBright
			);
			background-size: 200% 100%;
			animation: XmoveRYB200 7s linear infinite;
			background-clip: text;

			&::before {
				content: "• ";

				text-decoration: none;
			}
		}
	}

	&__title-top {
		text-align: inherit;

		& span {
			font: inherit;
			white-space: nowrap;
		}
	}

	&__title-bottom {
		text-align: inherit;
		color: $indigo;
		word-wrap: normal;

		& span {
			font-size: inherit;
			font-weight: 700;
			color: transparent;
			background: linear-gradient(
				90deg,
				$goldBright,
				$goldBright,
				$goldDim,
				$goldDim,
				$goldBright,
				$goldBright
			);
			background-size: 200% 100%;
			animation: XmoveRYB200 7s linear infinite;
			background-clip: text;
		}
	}

	&__description {
		width: 80%;
		display: flex;
		flex-direction: column;
		gap: 1.5rem;
		text-align: center;

		@media screen and (max-aspect-ratio: 4/3) {
			width: 100%;
			text-align: inherit;
		}
		@media screen and (max-width: 750px) {
			width: 100%;
			text-align: inherit;
		}
	}

	&__nominations {
		height: fit-content;

		display: flex;
		justify-items: center;
		align-items: center;
		gap: 1.5rem;

		max-width: 100%;

		&-list {
			width: 100%;
			height: 100%;

			display: flex;
			flex-direction: column;
			align-items: left;

			gap: 0.8rem;

			text-align: left;

			@media screen and (max-aspect-ratio: 4/3) {
				width: 100%;
				max-height: fit-content;
			}

			@media screen and (max-width: 750px) {
				width: 100%;
				max-height: fit-content;
			}
		}

		&-title {
			position: relative;
			text-align: left;
			width: 100%;
			font-weight: 600;
			color: transparent;
			background: linear-gradient(
				90deg,
				$goldBright,
				$goldBright,
				$goldDim,
				$goldDim,
				$goldBright,
				$goldBright
			);
			background-size: 200% 100%;
			animation: XmoveRYB200 6s linear infinite;
			background-clip: text;
			margin-bottom: 1.2rem;

			&::before {
				content: "";
				position: absolute;
				bottom: -1rem;
				left: 0;
				width: 100%;
				height: 0.25rem;
				background: linear-gradient(
					90deg,
					$goldBright,
					$goldBright,
					$goldDim,
					$goldDim,
					$goldBright,
					$goldBright
				);
				background-size: 200% 100%;
				animation: XmoveRYB200 6s linear infinite;
			}
		}

		@media screen and (max-aspect-ratio: 4/3) {
			flex-direction: column;
		}

		@media screen and (max-width: 750px) {
			flex-direction: column;
		}
	}

	&__nomination {
		display: flex;
		width: 100%;

		padding: 1rem;
		border-radius: 1rem;
		overflow: hidden;

		&-info {
			display: flex;
			flex-direction: column;

			text-align: left;
			font-size: 1.4rem;
			font-weight: 500;

			color: #fff;
		}

		& ul {
			list-style-type: none;
			& li {
				display: flex;

				font-size: 1.4rem;
				font-weight: 400;
				color: #fff;

				margin: 1rem 0;

				& div {
					font-size: 1.4rem;
					font-weight: 500;
					color: #fff;

					margin-right: 0.4rem;
				}
			}
		}
	}

	&__goals {
		width: calc(100% / 1);
		height: 100%;

		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 0.8rem;

		&-title {
			position: relative;
			text-align: left;
			width: 100%;
			font-weight: 600;
			color: transparent;
			background: linear-gradient(
				90deg,
				$goldBright,
				$goldBright,
				$goldDim,
				$goldDim,
				$goldBright,
				$goldBright
			);
			background-size: 200% 100%;
			animation: XmoveRYB200 6s linear infinite;
			background-clip: text;
			margin-bottom: 1.2rem;

			&::before {
				content: "";
				position: absolute;
				bottom: -1rem;
				left: 0;
				width: 100%;
				height: 0.25rem;
				background: linear-gradient(
					90deg,
					$goldBright,
					$goldBright,
					$goldDim,
					$goldDim,
					$goldBright,
					$goldBright
				);
				background-size: 200% 100%;
				animation: XmoveRYB200 6s linear infinite;
			}
		}

		&-text {
			width: 100%;
			text-align: left;
			font-size: 1.4rem;
			font-weight: 450;
			color: $textBlackish;
		}

		@media screen and (max-aspect-ratio: 4/3) {
			width: 100%;
			max-height: fit-content;
		}

		@media screen and (max-width: 750px) {
			width: 100%;
			max-height: fit-content;
		}
	}

	&__info {
		position: relative;
		text-align: center;

		width: 100%;
		height: max-content;

		border-radius: 1rem;
		padding: 1rem;
		box-shadow:
			2.5px 5px 5px #00000015,
			0px 0px 5px #00000015;
		background: linear-gradient(
			60deg,
			$goldDim,
			$goldDim,
			$goldBright,
			$goldBright,
			$goldDim,
			$goldDim
		);
		&-text {
			display: flex;
			flex-direction: column;
			align-items: center;

			font-size: 1.2rem;
			font-weight: 450;
			color: $textBlack;
		}

		&-label {
			font-size: 1.4rem;
			font-weight: 600;
			color: $textBlack;
		}
	}
	@media screen and (max-aspect-ratio: 4/3) {
		flex-direction: column;
		text-align: center;
	}
	@media screen and (max-width: 750px) {
		flex-direction: column;
		text-align: center;
	}
	@media screen and (max-aspect-ratio: 4/3) {
		&__banner {
			width: 100% !important;

			&--top {
				display: none;
			}

			&--bottom {
				display: flex;
			}
		}
		&__title-bottom {
			display: none;
		}
	}

	@media screen and (max-width: 750px) {
		&__banner {
			width: 100%;

			&--top {
				display: none;
			}

			&--bottom {
				display: flex;
			}
		}

		&__title-bottom {
			display: none;
		}
	}
}
