.section__participants {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	margin-top: -1.5rem;

	&_paragraph {
		font-size: 1.4rem;
		text-align: left;
		font-weight: 450;
		color: $textBlackish;
	}
}
