.section-programm {
	display: flex;
	gap: 1rem;
	flex-direction: column;

	&__swiper-container {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 2rem;
		--swiper-navigation-size: 5rem;
	}

	&__date {
		@media screen and (max-aspect-ratio: 2/3) {
			padding: 0.5rem;
			text-align: center;
			font-size: 1.9rem;
		}
		position: relative;
		font-size: 2rem;
		width: 100%;

		background: linear-gradient(
			-45deg,
			$blue 0% 33%,
			$red 33% 67%,
			$yellow 67%
		);

		padding: 0.5rem 1rem;
		border-radius: 1rem;
		box-shadow: 2.5px 5px 5px #00000015, 0px 0px 5px #00000015;
		text-shadow: 0px 0px 5px #00000015;
		color: #fff;

		// background: linear-gradient(
		// 	90deg,
		// 	$blue,
		// 	$blue 15%,
		// 	$red,
		// 	$red,
		// 	$yellow,
		// 	$yellow,
		// 	$blue
		// );
		// background-clip: text;

		// background-size: 200% 100%;

		// background-repeat: repeat;

		// animation: XmoveRYB200 5s infinite linear;

		//color: transparent;

		&::before {
			content: "• ";
		}

		// &::after {
		// 	content: "";
		// 	position: absolute;
		// 	left: 0;
		// 	top: -1rem;

		// 	transform: translateY(-50%);

		// 	width: 90vw;
		// 	height: 2px;
		// 	background-color: $boxBorder;
		// }
	}

	&__swiper {
		width: 100%;
		height: fit-content;

		&-slide {
			padding-bottom: 2rem;
			display: flex !important;
			flex-direction: column;

			&-event-container {
				display: flex;
				flex-direction: column;

				padding: 1rem;
				margin: 0 0.5rem;
				background-color: #fff;
				border-radius: 1rem;
				box-shadow: 2px 4px 4px #00000015, 0 0 4px #00000015;

				& .section-programm__event {
					padding: 1rem 0;
					&:nth-child(odd) {
						background-color: #fff;
						padding: 1rem 0;
						border-radius: 0;
						border: none;
					}

					&:first-child {
						padding-top: 0rem;
						&::after {
							display: none;
						}
					}

					&:last-child {
						padding-bottom: 0rem;
					}

					&::before {
						display: none;
					}

					&::after {
						content: "";
						position: absolute;
						left: 0;
						top: 0;

						transform: translateY(-50%);

						width: 100%;
						height: 2px;
						background-color: $boxBorder;
					}
				}
			}

			&-title {
				position: relative;
				padding: 1rem;
				margin: 1rem 0.5rem;
				//	margin-bottom: 0.5rem;
				background-color: #fff;

				border-radius: 1rem;
				box-shadow: 2px 4px 4px #00000015, 0 0 4px #00000015;
				display: flex;
				justify-content: space-between;
				align-items: center;

				&-maintext {
					font-size: 1.6rem;
					font-weight: 400;
					display: flex;
					flex-direction: column;

					&-location {
						font-size: 1.6rem;
						font-weight: 350;
						color: $textBlackish;

						&::before {
							content: " # ";
							font-size: 1.6rem;
							font-weight: 100;
						}
					}
				}

				&-aftertext-container {
					display: flex;
					align-items: center;
				}

				&-aftertext {
					text-align: right;
					font-size: 1.4rem;
					font-weight: 400;
					color: $textBlackLess;
					display: flex;
					flex-direction: column;

					&-location {
						font-size: 1.4rem;
						font-weight: 350;
						color: $textBlackLessTrans;

						&::before {
							content: " # ";
							font-size: 1.4rem;
							font-weight: 100;
						}
					}

					&-icon {
						display: inline;
						height: 3rem;
					}
				}
			}
		}
	}

	&__swiper-scrollbar-container {
		position: relative;
		width: 100%;
		height: 0.5rem;
	}

	&__event-container {
		display: flex;
		flex-direction: column;
		gap: 0;

		&-plenar {
			position: relative;
			display: flex;
			flex-direction: column;

			background-color: $boxBG;
			border: 2px solid $boxBorder;

			padding: 1rem 1rem;
			padding-top: 0;
			border-radius: 1rem;

			& #plenar {
				padding: 1rem 0;
				border: none;
			}
		}
	}

	&__event {
		position: relative;
		display: flex;
		flex-direction: column;
		gap: 0.5rem;

		padding: 1rem 1rem;

		&::before {
			content: "";
			position: absolute;
			top: 1rem;
			left: 0;
			height: calc(100% - 2rem);
			width: 2px;
			background-color: $boxBorder;
		}

		&:nth-child(odd) {
			background-color: $boxBG;
			border: 2px solid $boxBorder;

			padding: 1rem 1rem;
			border-radius: 1rem;

			&::before {
				display: none;
			}
		}

		&-time {
			font-size: 1.6rem;
			font-weight: 400;
			white-space: nowrap;
		}

		&-location-container {
			display: flex;
			flex-direction: column;
		}

		&-location {
			font-size: 1.6rem;
			font-weight: 350;
			color: $textBlackLess;

			&::before {
				content: "# ";
				font-size: 1.6rem;
				font-weight: 100;
			}
		}

		&-topic {
			position: relative;
			font-size: 1.5rem;
			font-weight: 450;

			&-dot {
				color: transparent;

				background-clip: text;

				font-size: 1.5rem;

				background-color: $textBlackLessTrans;
			}
		}
		&-participants {
			display: flex;
			flex-direction: column;
			gap: 0.25rem;
			&-item {
				font-size: 1.2rem;
				font-weight: 350;
				color: $textBlackLess;
				&-name {
					font-size: 1.2rem;
					font-weight: 350;
					color: $textBlack;
					&::before {
						content: "- ";
					}
				}
			}
		}
		&-bolden {
			font-size: 1.3rem;
			font-weight: 400;
			color: $textBlack;
		}
	}
}

#programm-swiper {
	overflow: hidden;
}

#programm-swiper-next {
	position: sticky;
	top: 50%;
	left: 0;
	margin-top: 5%;
	margin-bottom: 5%;
	@media screen and (max-aspect-ratio: 1/1) {
		display: none;
	}
	color: transparent;
	background: linear-gradient(
		90deg,
		$blue,
		$blue 15%,
		$red,
		$red,
		$yellow,
		$yellow,
		$blue
	);
	background-size: 200% 100%;
	background-clip: text;

	transition: transform 0.1s linear;

	background-repeat: repeat;

	animation: XmoveRYB200 5s infinite linear reverse;

	text-shadow: 1px 1px 3px #00000020;
}

#programm-swiper-prev {
	position: sticky;
	top: 50%;
	left: 0;
	margin-top: 5%;
	margin-bottom: 5%;
	@media screen and (max-aspect-ratio: 1/1) {
		display: none;
	}
	color: transparent;
	background: linear-gradient(
		90deg,
		$blue,
		$blue 15%,
		$red,
		$red,
		$yellow,
		$yellow,
		$blue
	);
	background-size: 200% 100%;
	background-clip: text;

	transition: transform 0.1s linear;

	background-repeat: repeat;

	animation: XmoveRYB200 5s infinite linear;

	text-shadow: 1px 1px 3px #00000020;
}

#programm-pagination {
	bottom: 0rem;
	& .swiper-pagination-bullet {
		background-color: $blue;
	}
}

#programm-scrollbar {
	--swiper-scrollbar-size: 100%;
	--swiper-scrollbar-sides-offset: 0px;
	top: 50%;
	bottom: 0;
	z-index: 1;
	transform: translateY(-50%);
	& .swiper-scrollbar-drag {
		background: linear-gradient(
			90deg,
			$blue,
			$blue 15%,
			$red,
			$red,
			$yellow,
			$yellow,
			$blue
		);
		background-size: 200% 100%;
		animation: XmoveRYB200 5s infinite linear;
	}
}

#programm-swiper {
	scroll-margin-top: 5rem;
	&:target {
		scroll-margin-top: 5rem;
	}
}
