.section-themes {
	@media screen and (max-aspect-ratio: 30/23) {
		flex-direction: column;
		gap: 2.5rem;
	}
	// @media screen and (max-aspect-ratio: 30/23) and (max-width: 900px) {
	// 	flex-direction: column;
	// }
	position: relative;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	gap: 2.5rem;

	&__div-container {
		@media screen and (max-aspect-ratio: 30/23) {
			width: 100%;
		}
		display: flex;
		flex-direction: column;
		gap: 2rem;
		width: 50%;
	}

	&__in-programm {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		gap: 1.5rem;

		&-img {
			//margin-top: 3rem;
			width: 100%;
			height: 100%;
			display: flex;
			justify-content: left;
			align-items: center;

			filter: drop-shadow(0px 0px 3px #00000010);

			&-img {
				width: 0;
			}
		}

		&-item {
			width: 100%;
			display: flex;
			flex-direction: column;
		}

		&-text {
			font-size: 1.4rem;
			font-weight: 400;
			text-align: left;
			color: $textBlackish;
		}

		&-title {
			width: fit-content;
			position: relative;
			font-size: 1.6rem;
			font-weight: 550;
			text-align: left;

			// &.title-yellow {
			// 	color: $yellow;

			// 	&::after {
			// 		background-color: $yellow;
			// 	}
			// }

			// &.title-red {
			// 	color: $red;

			// 	&::after {
			// 		background-color: $red;
			// 	}
			// }

			// &.title-blue {
			// 	color: $blue;

			// 	&::after {
			// 		background-color: $blue;
			// 	}
			// }
			color: transparent;
			background: linear-gradient(
				90deg,
				$blue,
				$blue 15%,
				$red,
				$red,
				$yellow,
				$yellow,
				$blue
			);
			background-size: 200% 100%;
			background-clip: text;

			transition: transform 0.1s linear, box-shadow 0.1s linear;

			background-repeat: repeat;

			animation: XmoveRYB200 5s infinite linear;

			text-shadow: 1px 2px 2px #00000010;

			&:hover {
				transform: scale(1.01);
				text-shadow: 1.25px 2.5px 2.5px #00000010;
				&::after {
					box-shadow: 1.25px 2.5px 2.5px #00000010;
				}
			}

			&::after {
				content: "";
				position: absolute;
				left: 0;
				bottom: 0;
				width: 100%;
				height: 2px;
				background: linear-gradient(
					90deg,
					$blue,
					$blue 15%,
					$red,
					$red,
					$yellow,
					$yellow,
					$blue
				);
				background-size: 200% 100%;
				animation: XmoveRYB200 5s infinite linear;
				border-radius: 2px;
				box-shadow: 1px 2px 2px #00000010;
			}
		}
	}

	&__list {
		width: fit-content;
		position: relative;
		display: flex;
		flex-direction: column;

		gap: 0.9rem;

		border-radius: 1rem;

		&-item {
			font-size: 1.4rem;
			font-weight: 450;
			text-align: left;
			color: $textBlackish;
		}

		&-dot {
			background-clip: text;
			color: $textBlackish;
			font-size: 1.4rem;
		}

		//! Colorful Borders
		// &::before {
		// 	content: "";
		// 	position: absolute;
		// 	top: 100%;
		// 	left: 50%;

		// 	transform: translate(-50%, -50%);

		// 	height: 5rem;
		// 	width: calc(100% + 8px);
		// 	background: linear-gradient(
		// 		0deg,
		// 		$yellow 0% 20%,
		// 		$red 20% 35%,
		// 		$blue 35% 100%
		// 	);

		// 	border-bottom-right-radius: 5% 50%;
		// 	border-bottom-left-radius: 5% 50%;

		// 	z-index: -1;
		// }

		// &::after {
		// 	content: "";
		// 	position: absolute;
		// 	top: 0;
		// 	left: 50%;

		// 	transform: translate(-50%, -50%) rotate(180deg);

		// 	height: 5rem;
		// 	width: calc(100% + 8px);
		// 	background: linear-gradient(
		// 		0deg,
		// 		$yellow 0% 20%,
		// 		$red 20% 35%,
		// 		$blue 35% 100%
		// 	);

		// 	border-bottom-right-radius: 5% 50%;
		// 	border-bottom-left-radius: 5% 50%;

		// 	z-index: -1;
		// }
		//! Colorful Borders

		//!Side Element Gradient Flow
		// &::before {
		// 	content: "";
		// 	position: absolute;
		// 	top: 50%;
		// 	left: 0;
		// 	width: 2rem;
		// 	max-width: 40px;
		// 	height: calc(100% + 0.2rem);
		// 	transform: translate(-50%, -50%);
		// 	border-radius: 1rem 0 0 1rem;
		// 	background: linear-gradient(
		// 		0deg,
		// 		$blueTrans,
		// 		$blueTrans 15%,
		// 		$yellowTrans,
		// 		$yellowTrans,
		// 		$redTrans,
		// 		$redTrans,
		// 		$blueTrans
		// 	);
		// 	background-size: 100% 300%;

		// 	background-repeat: repeat;

		// 	//animation: background-color-shift 10s ease-in-out infinite;
		// 	animation: YmoveRYB 10s infinite linear;
		// 	z-index: -1;
		// }
		//!Side Element Gradient Flow
	}
}
