$red: #d3281d;
$yellow: #f19001;
$blue: #342e8c;

$redDim: #c2170cf0;
$yellowDim: #ee8001f0;
$blueDim: #231d7ef0;

$redTransLite: #d3281de0;
$yellowTransLite: #f19001e0;
$blueTransLite: #342e8ce0;

$redTrans: #d3281dbf;
$yellowTrans: #f19001bf;
$blueTrans: #342e8cbf;

$redTransPlus: #d3281da0;
$yellowTransPlus: #f19001a0;
$blueTransPlus: #342e8ca0;

$redTransPro: #d3281d88;
$yellowTransPro: #f1900188;
$blueTransPro: #342e8c88;

$boxBG: #fbfbfe;
$boxBorder: #f0f0f3;
$boxBorderLighter: #fafafa;
$boxBGDark: #cacaca;

$mainBorder: #efeff0; 

$textBlack: #0f172a;
$textBlackish: #475569;
$textBlackLess: #64748b;
$textBlackLessTrans: #64748baa;

$indigo: #284067;

$goldTrim: #be9438;
$goldDim: #c89d3e;
$goldBright: #f8d879;
