.section-organizers {
	display: flex;
	flex-direction: column;
	gap: 2rem;

	&__container {
		display: flex;
		align-items: center;
		gap: 2rem;
		flex-wrap: wrap;
	}

	&__border {
		width: 100%;
		height: 2px;
		background-color: $boxBorder;
		border-radius: 2px;
		opacity: 1;
	}

	&__card {
		@media screen and (max-aspect-ratio: 3/2) {
			width: calc(100% / 3 - 1.34rem);
		}
		@media screen and (max-aspect-ratio: 3/4) {
			width: calc(100% / 2 - 1rem);
		}

		position: relative;

		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: start;
		width: calc(100% / 5 - 1.6rem);
		height: 100%;
		min-height: fit-content;
		height: 18.5rem;

		padding: 1rem;

		&-logo-container {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 100%;
		}

		&-logo {
			display: flex;
			height: 9rem;
			object-fit: contain;

			z-index: 1;
		}

		&-divider {
			margin: 0.9rem 0 0.9rem 0;
			width: calc(100%);
			height: 1px;
			background-color: $textBlackLessTrans;
			border-radius: 1rem;
			z-index: 1;
		}

		&-name {
			height: fit-content;
			position: relative;
			font-size: 1.2rem;
			font-weight: 400;
			text-align: center;
		}

		&-bg {
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);

			width: 100%;
			height: 100%;

			border-radius: 1rem;

			background-color: $boxBG;
			border-radius: 1rem;
			border: 2px solid $boxBorder;

			overflow: hidden;

			// &::before {
			// 	content: "";
			// 	left: 0.8rem;
			// 	top: 0.8rem;
			// 	position: absolute;
			// 	width: 1.6rem;
			// 	height: 10rem;

			// 	background: linear-gradient(
			// 		90deg,
			// 		$blueTrans 0% 33%,
			// 		$redTrans 33% 66%,
			// 		$yellowTrans 66% 100%
			// 	);

			// 	transform: translate(-50%, -50%) rotate(45deg);
			// }

			// &::after {
			// 	content: "";
			// 	right: -0.8rem;
			// 	top: 0.8rem;
			// 	position: absolute;
			// 	width: 1.6rem;
			// 	height: 10rem;

			// 	background: linear-gradient(
			// 		90deg,
			// 		$blueTrans 0% 33%,
			// 		$redTrans 33% 66%,
			// 		$yellowTrans 66% 100%
			// 	);

			// 	transform: translate(-50%, -50%) rotate(-225deg);
			// }
			// transition: transform 0.2s ease-in-out, box-shadow 0.1s ease-in-out;
		}

		transition: transform 0.2s ease-in-out, box-shadow 0.1s ease-in-out;

		&::before {
			content: "";
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);

			border-radius: 1rem;

			transition: transform 0.2s ease-in-out, width 0.1s 0.1s linear,
				height 0.1s 0.1s linear, opacity 0s 0.2s linear;

			width: 98%;
			height: 98%;

			background: linear-gradient(
				90deg,
				$blue,
				$blue 15%,
				$red,
				$red,
				$yellow,
				$yellow,
				$blue
			);
			background-size: 300% 100%;

			background-repeat: repeat;

			animation: XmoveRYB300 5s infinite linear;

			//animation: box-shadow-grad 3s infinite ease-in-out;
			overflow-x: hidden;

			opacity: 0;
		}

		&:hover::before {
			transition: transform 0.2s ease-in-out, width 0.1s linear,
				height 0.1s linear;
			transform: translate(-50%, calc(-50% + 1rem));
			width: 100%;
			height: 100%;

			opacity: 1;
		}

		&:active::before {
			@media screen and (max-aspect-ratio: 3/4) {
				transform: translate(-50%, calc(-50% + 1rem));
			}
			transition: transform 0.2s ease-in-out, width 0.1s linear,
				height 0.1s linear;
			transform: translate(-50%, calc(-50% + 0.7rem));
			width: 100%;
			height: 100%;

			opacity: 1;
		}

		&:hover {
			transform: translateY(-1rem);

			// .section-organizers__card-bg {
			// 	box-shadow: 0 5px 1px -1px #00000020;
			// }
		}

		&:active {
			@media screen and (max-aspect-ratio: 3/4) {
				transform: translateY(-1rem);
			}
			transform: translateY(-0.7rem);
		}
	}
}
