@use "./variables" as v;

@media screen and (min-width: 1024px) {
  .hero {
    gap: 10px;
    &__img {
      padding-top: 30px;
      padding-bottom: 30px;
      margin-bottom: 20px;

      width: 300px;

      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .hero {
    gap: 20px;
    &__img {
      background-color: #fff;

      padding-top: 30px;
      padding-bottom: 30px;
      margin-bottom: 20px;

      width: 300px;

      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
    }
  }
}

@media screen and (max-width: 767px) {
  .hero {
    gap: 15px;
    &__img {
      background-color: #fff;

      padding-top: 30px;
      padding-bottom: 30px;
      margin-bottom: 15px;

      width: 200px;

      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
    }
  }
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: fit-content;
  position: relative;
  background: v.$beigeDarker;
  color: v.$brownDarker;

  padding-bottom: 40px;

  text-align: center;

  box-shadow: 0 0 10px v.$shadowblack;

  z-index: 10;

  &__title {
    font-weight: 600;
  }

  &__textbox {
    display: flex;
    font-size: 1.4rem;

    flex-direction: column;
  }

  &__place {
    font-size: 1.2rem;
  }

  &__date {
    font-size: 1.2rem;
  }

  // &::after {
  // 	content: "";
  // 	position: absolute;
  // 	bottom: -25px;
  // 	left: 0;
  // 	width: 100%;
  // 	height: 25px;
  // 	border-bottom-left-radius: 10px;
  // 	border-bottom-right-radius: 10px;
  // 	box-shadow: 0 3px 3px v.$shadowblack;
  // 	backdrop-filter: blur(2px);
  // 	background: linear-gradient(
  // 		177deg,
  // 		v.$transblack 40%,
  // 		v.$transblackAlt 90%
  // 	);

  // }
}
