@use "./variables" as v;

@font-face {
  font-family: Gabriola, sans-serif;
  src: url(../../media/fonts/gabriola.ttf);
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "Arimo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;

  scroll-behavior: smooth;
  scroll-padding-top: 50px;
}

main {
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 2.2rem;
}

h2 {
  font-size: 1.8rem;

  color: v.$brownDarker;
}

h3 {
  font-size: 1.3rem;
}
