$red: red;
$beigeDarker: #b08d6f;
$beige: #fcf3e4;
$beigeLighter: #ff00ff;
$orange: #9a6a2b;
$orangeBrighter: #c86000;
$brown: #795e4b;
$brownDarker: #622302;
$brownDark: #4e3d31;

$transOrange: #aa793bef;

$shadowgray: #0000003c;
$shadowblack: #00000044;
$transblackDark: #000000bd;
$transblack: #000000a0;
$transblackAlt: #00000070;
$transdim: #00000011;
$transgray: #98989837;
$transwhite: #f3f3f3ea;
$transgrayverylight: #eaeaeaea;
$transgraylight: #afafafea;

$white: #f3f3f3;
$grayverylight: #eaeaea;
$graylight: #afafaf;

$textBlack: #000000e0;
