@use "./variables" as v;

@media screen and (min-width: 1024px) {
	.header {
		&__container {
			position: fixed;
			top: 0;
			left: 50%;
			transform: translate(-50%, -100%);

			width: 100%;
			max-width: 1000px;
			height: fit-content;

			display: flex;
			justify-content: space-between;

			padding: 10px 100px;
			z-index: 20;

			box-shadow: 0 0 8px v.$shadowblack;

			background: linear-gradient(
				177deg,
				v.$transblack 40%,
				v.$transblackAlt 90%
			);

			backdrop-filter: blur(3px);

			border-bottom-right-radius: 10px;
			border-bottom-left-radius: 10px;

			transition: transform ease-in-out 0.1s;

			&_up {
				position: absolute;
				right: 0;
				top: 0;

				display: flex;
				align-items: center;
				justify-content: center;

				padding: 0 5px;

				height: 100%;

				background-color: v.$transdim;

				border-bottom-right-radius: 10px;

				transition: background-color ease-in-out 0.1s;

				&:hover {
					background-color: v.$transgray;
				}

				& img {
					height: 30px;
					width: fit-content;
				}
			}

			&_toggle {
				position: absolute;
				left: 0;
				top: 100%;

				display: flex;
				align-items: center;
				justify-content: center;

				padding: 0 5px;

				height: 100%;

				border-bottom-left-radius: 10px;
				border-bottom-right-radius: 10px;

				background-color: v.$transblack;

				transition: top ease-in-out 0.1s, background-color ease-in-out 0.1s;

				cursor: pointer;

				& img {
					width: 30px;
					height: 30px;
					transform: rotate(180deg);

					transition: transform ease-in-out 0.2s;
				}

				@media (pointer: fine) {
					&:hover {
						background-color: v.$transblackAlt;
					}
				}
			}

			&_elem {
				color: #fff;

				&-link {
					position: relative;
					color: #fff;
					text-decoration: none;

					@media (pointer: fine) {
						&:hover {
							color: v.$beigeLighter;
							&::after {
								width: 100%;
								left: 0;
							}
						}
					}

					&::after {
						content: "";
						position: absolute;
						bottom: -3px;
						left: 50%;
						width: 0;
						height: 1px;

						background-color: v.$beigeLighter;
						transition: width ease-in-out 0.15s, left ease-in-out 0.15s;
					}
				}
			}

			&_burger {
				&-button {
					display: none;
				}
			}
		}
	}
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
	.header {
		&__container {
			position: fixed;
			top: 0;
			left: 50%;
			transform: translate(-50%, -100%);

			width: 100%;
			max-width: 1000px;
			height: fit-content;

			display: flex;
			justify-content: space-between;

			padding: 10px 100px;
			z-index: 20;

			box-shadow: 0 0 8px v.$shadowblack;

			background: linear-gradient(
				177deg,
				v.$transblack 40%,
				v.$transblackAlt 90%
			);

			backdrop-filter: blur(3px);

			border-bottom-right-radius: 10px;
			border-bottom-left-radius: 10px;

			transition: transform ease-in-out 0.1s;

			&_toggle {
				position: absolute;
				left: 0;
				top: 100%;

				display: flex;
				align-items: center;
				justify-content: center;

				padding: 0 5px;

				height: 100%;

				border-bottom-left-radius: 10px;
				border-bottom-right-radius: 10px;

				background-color: v.$transblack;

				transition: top ease-in-out 0.1s, background-color ease-in-out 0.1s;

				cursor: pointer;

				& img {
					width: 30px;
					height: 30px;
					transform: rotate(180deg);

					transition: transform ease-in-out 0.2s;
				}

				@media (pointer: fine) {
					&:hover {
						background-color: v.$transblackAlt;
					}
				}
			}

			&_elem {
				color: #fff;

				&-link {
					position: relative;
					color: #fff;
					text-decoration: none;

					@media (pointer: fine) {
						&:hover {
							color: v.$beigeLighter;
							&::after {
								width: 100%;
								left: 0;
							}
						}
					}

					&::after {
						content: "";
						position: absolute;
						bottom: -3px;
						left: 50%;
						width: 0;
						height: 1px;

						background-color: v.$beigeLighter;
						transition: width ease-in-out 0.15s, left ease-in-out 0.15s;
					}
				}
			}

			&_burger {
				&-button {
					display: none;
				}
			}
		}
	}
}

@media screen and (max-width: 767px) {
	.header {
		position: fixed;
		top: 0;
		left: 0;

		z-index: 30;

		&__burger {
			padding: 15px;

			background: linear-gradient(120deg, v.$transblack, v.$transblackAlt);
			backdrop-filter: blur(2px);

			box-shadow: 0 0 8px v.$shadowblack;

			border-bottom-right-radius: 10px;

			&_button {
				display: flex;
				justify-content: center;
				align-items: center;

				width: fit-content;
				height: 29px;

				&-elem {
					position: relative;
					width: 50px;
					height: 3px;
					background-color: #fff;

					&::before {
						content: "";
						position: absolute;
						top: -13px;
						left: 0;

						width: 50px;
						height: 3px;
						background-color: #fff;
					}

					&::after {
						content: "";
						position: absolute;
						top: 13px;
						left: 0;

						width: 50px;
						height: 3px;
						background-color: #fff;
					}
				}
			}
		}

		&__container {
			position: absolute;
			top: 0;
			left: 0;

			transform: translateX(-100%);
			&_toggle {
				display: none;
			}
		}
	}
}
