@use "./variables" as v;

.hero {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	height: fit-content;
	position: relative;
	background: v.$red;
	color: #fff;

	padding-top: 25px;
	padding-bottom: 30px;
	margin-bottom: 75px;

	text-align: center;

	&__img {
		width: 150px;
		margin-bottom: 20px;
	}
	&__title {
		margin: 0 20px;
	}
	&__date {
		margin: 20px 0;
	}
	&__textbox {
		display: flex;
		font-size: 1.1rem;
	}
}


