@use "./variables" as v;

@media screen and (min-width: 1024px) {
	.main {
		&__desc {
			&_textbox {
				&-wrapper {
					text-align: justify;
				}
			}
		}
	}
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
	.main {
		&__desc {
			&_textbox {
				&-wrapper {
					text-align: left;
				}
			}
		}
	}
}

@media screen and (max-width: 767px) {
	.main {
		&__desc {
			&_textbox {
				&-wrapper {
					text-align: left;
				}
			}
		}
	}
}

.main {
	&__desc {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 30px;

		&_video {
			border-radius: 10px;
			overflow: hidden;
			box-shadow: 0 0 8px v.$shadowgray;
		}

		&_textbox {
			display: flex;
			flex-direction: column;
			gap: 15px;

			// background: linear-gradient(45deg, v.$transblack 40%, v.$transblackAlt 90%);

			// padding: 20px;

			// border-top-left-radius: 10px;
			// border-top-right-radius: 10px;

			// margin-top: 30px;
			// padding-bottom: 30px;

			&-wrapper {
				font-size: 1.1rem;
			}

			&-large {
				font-size: 1.2rem;
				font-weight: 600;
				color: v.$red;
			}

			&-bold {
				font-size: 1.1rem;
				font-weight: 600;
			}
		}

		&_bottom {
			position: relative;
			display: flex;

			width: 100%;

			background-color: v.$red;

			box-shadow: 0 0 10px v.$shadowblack;

			margin-bottom: 30px;
		}

		&_dropdown {
			position: relative;

			display: flex;

			&-button {
				cursor: pointer;

				display: flex;
				align-items: center;
				justify-content: center;
				gap: 3px;

				padding: 5px 10px;

				color: #fff;
				font-size: 22px;
				font-weight: 600;

				//background-color: v.$red;

				border: 5px solid transparent;
				border-radius: 15px;

				//box-shadow: 0 0 8px v.$shadowgray;

				user-select: none;

				outline: none;

				& img {
					width: 1rem;

					transition: transform ease-in-out 0.2s;
				}
			}

			&-menu {
				position: absolute;
				top: 100%;
				width: 100%;
				height: fit-content;

				display: flex;
				flex-direction: column;
				z-index: 1;

				opacity: 0;

				overflow: hidden;

				border-radius: 10px;
				//border: 1px solid v.$linkgray;
				box-shadow: 0 0 8px v.$shadowgray;
				backdrop-filter: blur(2px);

				transition: opacity ease-in-out 0.4s, transform ease-in-out 0.3s;

				& a {
					background-color: v.$transwhite;

					padding: 15px 10px;
					display: block;

					text-decoration: none;
					color: #000;

					border-bottom: 1px solid #000;

					&:last-of-type {
						border-bottom: none;
					}
				}
			}
		}
	}

	&__programm {
		display: flex;
		flex-direction: column;
		align-items: center;

		&_list {
			display: flex;
			flex-direction: column;

			list-style-type: none;

			border-radius: 10px;

			overflow: hidden;

			box-shadow: 0 0 8px v.$shadowgray;

			&-item {
				position: relative;

				border-top: 2px solid #000;

				&Cnt {
					display: flex;
					flex-direction: column;
					gap: 5px;

					background-color: v.$transblack;

					//backdrop-filter: blur(10px);
					padding: 30px 25px;

					& h3 {
						color: v.$redlighter;
						font-weight: 500;
						text-shadow: 0 0 1px v.$transblack;

						&::before {
							content: "• ";
						}
					}
					& p {
						color: #fff;
						font-style: italic;
					}
					& div {
						display: flex;
						flex-direction: row;
						flex-wrap: wrap;
						padding-top: 20px;
						& a {
							color: v.$beigeLighter;
							margin-right: 25px;
							text-wrap: nowrap;
						}
					}
				}

				&Bg {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;

					background-size: cover;
					background-position: center center;

					z-index: -1;
				}

				&:first-of-type {
					border-top: none;
				}

				// &:nth-of-type(even) {
				// 	background-color: v.$beige;
				// }
			}
		}
	}
}
