@use "./variables" as v;

.main {
	&__judges {
		display: flex;
		flex-direction: column;
		gap: 30px;
		padding: 0 20px;

		&_juryBoard {
			display: flex;
			gap: 20px;
			flex-wrap: wrap;
			justify-content: center;

			margin: 0 auto;
			max-width: 1000px;
			&-card {
				position: relative;

				display: flex;
				flex-direction: column;

				box-shadow: 0 0 10px v.$shadowgray;

				border-radius: 10px;

				& h4 {
					padding: 5px 10px;
					text-wrap: nowrap;
					text-align: center;
					font-weight: 600;

					border-top-left-radius: 10px;
					border-top-right-radius: 10px;

					background-color: v.$red;

					color: #fff;
				}
				& img {
					min-height: 300px;
					object-fit: cover;

					border-bottom-left-radius: 10px;
					border-bottom-right-radius: 10px;
				}
				& div {
					display: flex;
					flex-direction: column;
					align-items: center;
					gap: 3px;

					width: 100%;

					padding-top: 2px;

					border-bottom-left-radius: 10px;
					border-bottom-right-radius: 10px;

					overflow: hidden;

					background: linear-gradient(
						50deg,
						v.$transblack 40%,
						v.$transgray 90%
					);
					background-color: v.$transblack;
					color: #fff;

					backdrop-filter: blur(2px);

					& span {
						&:first-of-type {
							font-size: 1.1rem;
						}
						&:last-of-type {
							height: 100%;
							padding-left: 10px;
							scrollbar-color: #fff transparent;
						}
					}
				}
			}
		}

		&_judgeBoard {
			display: flex;
			gap: 20px;
			flex-wrap: wrap;
			justify-content: center;

			margin: 0 auto;
			max-width: 1000px;
			&-card {
				position: relative;

				display: flex;
				flex-direction: column;

				box-shadow: 0 0 10px v.$shadowgray;

				border-radius: 10px;

				& h4 {
					padding: 5px 10px;
					text-wrap: nowrap;
					text-align: center;
					font-weight: 600;

					border-top-left-radius: 10px;
					border-top-right-radius: 10px;

					background-color: v.$red;

					color: #fff;
				}
				& img {
					min-height: 300px;
					object-fit: cover;

					border-bottom-left-radius: 10px;
					border-bottom-right-radius: 10px;
				}
				& div {
					display: flex;
					flex-direction: column;
					align-items: center;
					gap: 3px;

					width: 100%;

					padding-top: 2px;

					border-bottom-left-radius: 10px;
					border-bottom-right-radius: 10px;

					overflow: hidden;

					background: linear-gradient(
						50deg,
						v.$transblack 40%,
						v.$transgray 90%
					);
					background-color: v.$transblack;
					color: #fff;

					backdrop-filter: blur(2px);

					& span {
						&:first-of-type {
							font-size: 1.1rem;
						}
						&:last-of-type {
							height: 100%;
							padding-left: 10px;
							scrollbar-color: #fff transparent;
						}
					}
				}
			}
		}
	}
}
