@use "./variables" as v;

@media screen and (min-width: 1024px) {
  .main {
    &__organizers {
      margin: 30px 0;

      &_container {
        gap: 33px;
        justify-content: center;
        max-width: 1000px;
        margin: 0 auto;

        &-card {
          width: calc((1000px - 66px) / 3);
          height: calc((((1000px - 66px) / 3) / 16) * 9);
          padding: 30px;
          & img {
            height: 100%;
            object-fit: contain;
          }
        }
      }
    }

    &__partners {
      margin: 30px 0;

      &_container {
        gap: 33px;
        justify-content: center;
        max-width: 1000px;
        margin: 0 auto;

        &-card {
          width: calc((1000px - 66px) / 3);
          height: calc((((1000px - 66px) / 3) / 16) * 9);
          padding: 30px;
          & img {
            height: 100%;
            object-fit: contain;
          }
        }

        // &-card.descCard {
        //   height: 100%;

        //   & img {
        //     width: calc((1000px - 66px) / 3);
        //     height: calc((((1000px - 66px) / 3) / 16) * 9);
        //   }
        // }

        &-card.hotelCard {
          height: 100%;
          & img {
            width: calc((1000px - 66px) / 3);
            height: calc((((1000px - 66px) / 3) / 16) * 9);
            padding: 30px;
          }

          & .zalkindLogo {
            width: calc((1000px - 66px) / 3);
            height: calc((((1000px - 66px) / 3) / 16) * 9);
            padding: 30px;
            font-size: 2.2rem;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .main {
    &__organizers {
      margin: 30px 0;

      &_container {
        gap: 30px;
        justify-content: center;

        margin: 0 10vw;

        &-card {
          width: calc((100vw - 20vw - 60px) / 3);
          height: calc((((100vw - 20vw - 60px) / 3) / 16) * 9);
          padding: 15px;
          & img {
            height: 100%;
            object-fit: contain;
          }
        }
      }
    }

    &__partners {
      margin: 40px 0;

      &_container {
        gap: 30px;
        justify-content: center;
        &-card {
          width: calc((100vw - 20vw - 60px) / 3);
          height: calc((((100vw - 20vw - 60px) / 3) / 16) * 9);
          padding: 15px;
          & img {
            height: 100%;
            object-fit: contain;
          }
        }

        &-card.hotelCard {
          height: 100%;
          & img {
            width: calc((100vw - 20vw - 60px) / 3);
            height: calc((((100vw - 20vw - 60px) / 3) / 16) * 9);
            padding: 15px;
          }

          & .zalkindLogo {
            width: calc((100vw - 20vw - 60px) / 3);
            height: calc((((100vw - 20vw - 60px) / 3) / 16) * 9);
            padding: 15px;
            font-size: 2rem;
          }

          & .hotelDesc {
            height: 125px;
            align-items: center;
            justify-content: center;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .main {
    &__organizers {
      margin: 30px 0;

      &_container {
        gap: 15px;
        justify-content: center;

        margin: 0 10px;
        &-card {
          width: calc((100vw - 20px - 15px) / 2);
          height: calc((((100vw - 20px - 30px) / 2) / 16) * 9);
          padding: 15px;
          & img {
            height: 100%;
            object-fit: contain;
          }
        }
      }
    }

    &__partners {
      margin: 30px 0;

      &_container {
        gap: 15px;
        justify-content: center;

        margin: 0 10px;
        &-card {
          width: calc((100vw - 20px - 15px) / 2);
          height: calc((((100vw - 20px - 30px) / 2) / 16) * 9);
          padding: 15px;
          & img {
            height: 100%;
            object-fit: contain;
          }
        }

        &-card.hotelCard {
          height: 100%;
          & img {
            width: calc((100vw - 20px - 15px) / 2);
            height: calc((((100vw - 20px - 30px) / 2) / 16) * 9);
            padding: 15px;
          }

          & .zalkindLogo {
            width: calc((100vw - 20px - 15px) / 2);
            height: calc((((100vw - 20px - 30px) / 2) / 16) * 9);
            padding: 15px;
            font-size: 2rem;
          }

          & .hotelDesc {
            height: 120px;
            align-items: center;
            justify-content: center;
          }
        }
      }
    }
  }
}

.main {
  &__organizers {
    position: relative;
    width: 100%;
    padding: 30px 0;

    // background: linear-gradient(
    // 	170deg,
    // 	v.$transblack 40%,
    // 	v.$transblackAlt 90%
    // );

    background-color: v.$red;

    box-shadow: 0 0 10px v.$shadowgray;

    &_container {
      display: flex;
      flex-wrap: wrap;

      &-card {
        position: relative;

        display: flex;
        align-items: center;
        justify-content: center;

        // background: linear-gradient(
        // 	170deg,
        // 	v.$transwhite 40%,
        // 	v.$transwhite 90%
        // );

        background-color: #fff;

        border-radius: 10px;

        box-shadow: 0 0 10px v.$shadowblack;

        transition: scale ease-in-out 0.2s;

        overflow: hidden;

        // &::before {
        // 	content: "";
        // 	position: absolute;
        // 	top: 0;
        // 	left: -30px;
        // 	width: 80px;
        // 	height: 20px;
        // 	background-color: v.$beige;

        // 	transform: rotate(-45deg);
        // }

        &::after {
          content: "";
          position: absolute;
          bottom: -9px;
          right: -40px;
          width: 80px;
          height: 40px;
          background-color: v.$beige;

          transform: rotate(-45deg);

          z-index: 10;

          box-shadow: 0 0 2.5px v.$shadowgray;
        }

        &:hover {
          scale: 1.025;
          box-shadow: 0 0 12px v.$shadowblack;
        }

        & img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }

  &__partners {
    position: relative;
    width: 100%;
    padding: 30px 0;

    // background: linear-gradient(
    // 	170deg,
    // 	v.$transblack 40%,
    // 	v.$transblackAlt 90%
    // );

    background-color: v.$red;

    box-shadow: 0 0 10px v.$shadowgray;

    // &_container.hotelContainer {

    // }

    &_container {
      position: relative;

      display: flex;
      flex-wrap: wrap;

      &-card {
        position: relative;

        display: flex;
        align-items: center;
        justify-content: center;

        text-decoration: none;

        // background: linear-gradient(
        // 	170deg,
        // 	v.$transwhite 40%,
        // 	v.$transwhite 90%
        // );

        background-color: #fff;

        border-radius: 10px;

        box-shadow: 0 0 10px v.$shadowblack;

        transition: scale ease-in-out 0.2s;

        overflow: hidden;

        cursor: pointer;

        // &::before {
        // 	content: "";
        // 	position: absolute;
        // 	top: 0;
        // 	left: -30px;
        // 	width: 80px;
        // 	height: 20px;
        // 	background-color: v.$beige;

        // 	transform: rotate(-45deg);
        // }

        &::after {
          content: "";
          position: absolute;
          bottom: -9px;
          right: -40px;
          width: 80px;
          height: 40px;
          background-color: v.$beige;

          transform: rotate(-45deg);

          z-index: 10;

          box-shadow: 0 0 2.5px v.$shadowgray;
        }

        &:hover {
          scale: 1.025;
          box-shadow: 0 0 12px v.$shadowblack;
        }

        & img {
          transition: scale ease-in-out 0.2s;
        }
      }

      &-hotelDesc {
        top: 20px;
        color: v.$beigeLighter;
        font-size: 1.1rem;

        text-align: center;

        padding: 0 10px;
      }

      &-card.descCard {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        gap: 20px;
      }

      &-card.hotelCard {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        //border: 5px solid #fff;

        padding: 0;

        & .hotelDesc {
          position: relative;
          bottom: 0;
          left: 0;

          width: 100%;

          display: flex;
          flex-direction: column;

          color: v.$textBlack;
          text-align: center;
          padding: 10px;

          // background: linear-gradient(
          //   50deg,
          //   v.$transblack 40%,
          //   v.$transgray 90%
          // );

          background-color: v.$transwhite;
        }

        &::after {
          display: none;
        }
      }

      &-card.crowne {
        background-color: #9e1d70;
      }

      &-card.zalkind {
        background-color: #000;

        & .zalkindLogo {
          font-family: "DIN Condensed";

          color: #fff;

          display: flex;
          justify-content: center;
          align-items: center;

          padding: 30px;
        }

        & img {
          filter: brightness(0) invert(1);
        }
      }

      &-card.minsk {
        background-color: #d62434;

        & img {
          padding: 10px;
          filter: brightness(0) invert(1);
        }
      }

      &-card.victoria {
        background-color: #456175;

        & img {
          filter: brightness(0) invert(1);
        }
      }

      &-card.robinson {
        background-color: #442d25;
      }

      &-card.belarus {
        background-color: #10396f;
      }

      &-card.garni {
        background-color: #480505;

        & img {
          filter: brightness(0) invert(1);
        }
      }
    }
  }
}
