* {
	font-family: "Chiron Hei HK", sans-serif;
	font-optical-sizing: auto;
	font-size: 18px;
	font-weight: 400;
	font-style: normal;
}

h1 {
	font-size: 2rem;
	font-family: "Libertinus Sans", sans-serif;
}

h2 {
	font-size: 1.8rem;
}

h3 {
	font-size: 1.1rem;
}
