@media screen and (min-width: 1024px) {
	* {
		font-size: 20px;
	}

	.titleScale {
		max-width: 1000px;
		margin: 0 auto;
	}
	.textScale {
		max-width: 1000px;
	}
	.wrapperScale {
		max-width: 1000px;
	}
	.dropdownScale {
		justify-content: center;
		gap: 100px;
	}
	.cardScale {
		width: 300px;
		& img {
			height: 400px;
		}
	}

	.organizersScale {
		gap: 80px;
		justify-content: center;

		& .main__organizers_container-card {
			height: 135px;
		}
	}

	.partnersScale {
		gap: 80px;
		justify-content: center;

		& .main__partners_container-card {
			height: 135px;
		}
	}

	.footer {
		&__container {
			flex-direction: row;
			gap: 60px;
			justify-content: center;
		}
	}
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
	* {
		font-size: 18px;
	}

	.titleScale {
		padding: 0 20%;
	}
	.textScale {
		margin: 0 20%;

		& br {
			display: none;
		}
	}

	.wrapperScale {
		margin: 0 20%;
	}

	.dropdownScale {
		justify-content: center;
		gap: 80px;
	}
	.cardScale {
		width: 250px;

		& img {
			height: 350px;
		}
	}

	.organizersScale {
		gap: 40px;
		justify-content: center;

		& .main__organizers_container-card {
			height: 100px;
		}
	}

	.partnersScale {
		gap: 40px;
		justify-content: center;

		& .main__partners_container-card {
			height: 100px;
		}
	}

	.footer {
		&__container {
			flex-direction: column;
			gap: 15px;
		}
	}
}

@media screen and (max-width: 767px) {
	* {
		font-size: 16px;
	}
	.titleScale {
		padding: 0 30px;
	}
	.textScale {
		margin: 0 30px;
		& br {
			display: none;
		}
	}
	.wrapperScale {
		margin: 0 10px;
	}

	.dropdownScale {
		justify-content: center;
		gap: 15px;
	}
	.cardScale {
		width: 300px;

		& img {
			height: 370px;
		}
	}
	.organizersScale {
		gap: 40px;
		justify-content: center;

		& .main__organizers_container-card {
			height: 100px;
		}
	}

	.partnersScale {
		gap: 40px;
		justify-content: center;

		& .main__partners_container-card {
			height: 100px;
		}
	}

	.footer {
		&__container {
			flex-direction: column;
			gap: 15px;
		}

		&__contacts{
			&_elem{
				a{
					font-size: 18px;
				}
			}
		}
	}
}
