@use "./variables" as v;

.main {
	&__judges {
		display: flex;
		flex-direction: column;
		gap: 30px;
		&_juryBoard {
			display: flex;
			gap: 20px;
			flex-wrap: wrap;
			justify-content: center;

			margin: 0 auto;
			max-width: 1000px;
			&-card {
				display: flex;
				flex-direction: column;

				box-shadow: 0 0 10px v.$shadowgray;

				border-radius: 10px;


				overflow: hidden;

				& h4 {
					padding: 5px 10px;

					text-wrap: nowrap;
					text-align: center;
					font-weight: 600;


					background-color: v.$red;

					color: #fff;
				}
				& img {
					object-fit: cover;
				}
				& div {
					display: flex;
					flex-direction: column;
					gap: 3px;

					height: 150px;

					padding: 0 10px;

					& span {
						&:first-of-type {
							font-size: 1.2rem;
						}
						&:last-of-type {
							height: 100%;
							overflow-y: scroll;
							overflow-x: hidden;
						}
					}
				}
			}
		}

		&_judgeBoard {
			display: flex;
			gap: 20px;
			flex-wrap: wrap;
			justify-content: center;

			margin: 0 auto;
			max-width: 1000px;
			&-card {
				display: flex;
				flex-direction: column;

				box-shadow: 0 0 10px v.$shadowgray;

				border-radius: 10px;

				overflow: hidden;

				& h4 {
					padding: 5px 10px;
					text-wrap: nowrap;
					text-align: center;
					font-weight: 600;

					background-color: v.$beige;
				}
				& img {
					min-height: 300px;
					object-fit: cover;
				}
				& div {
					display: flex;
					flex-direction: column;
					gap: 3px;

					height: 150px;

					padding: 0 10px;


					& span {
						&:first-of-type {
							font-size: 1.2rem;
						}
						&:last-of-type {
							height: 100%;
							overflow-y: scroll;
							overflow-x: hidden;
						}
					}
				}
			}
		}
	}
}
