@use "./variables" as v;

@media screen and (min-width: 1024px) {
  .main {
    &__desc {
      &_swiper {
        height: 450px;
        max-width: 1000px;
      }
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .main {
    &__desc {
      &_swiper {
        height: 450px;
        max-width: calc(100vh - 20px);
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .main {
    &__desc {
      &_swiper {
        height: 200px;

        max-width: calc(100vw - 20px);

        & .swiper-button-prev {
          display: none;
        }

        & .swiper-button-next {
          display: none;
        }
      }
    }
  }
}

.main {
  &__desc {
    &_swiper {
      width: 100%;

      & .swiper-wrapper {
        max-height: 95%;
      }

      & .swiper-slide {
        display: flex;
        align-items: center;

        user-select: none;

        border-radius: 10px;

        overflow: hidden;

        & img {
          min-width: fit-content;
          min-height: fit-content;
          width: 100%;
          height: 100%;
        }
      }

      & .swiper-button-prev {
        height: 70px;

        padding: 15px 10px;

        background-color: v.$red;
        color: v.$beige;

        border: 3px solid v.$beige;
        border-radius: 10px;

        box-shadow: 0 0 10px v.$shadowblack;

        transition: scale 0.1s ease-in-out;

        &:hover {
          scale: 1.05;
        }

        &:active {
          scale: 0.99;
        }
      }

      & .swiper-button-next {
        height: 70px;

        padding: 15px 10px;

        background-color: v.$red;
        color: v.$beige;

        border: 3px solid v.$beige;
        border-radius: 10px;

        box-shadow: 0 0 6px v.$shadowblack;

        transition: scale 0.1s ease-in-out;

        &:hover {
          scale: 1.05;
        }

        &:active {
          scale: 0.99;
        }
      }

      & .swiper-scrollbar {
        &-drag {
          background-color: v.$red;
        }
      }
    }
  }
}
